// If you want to override materialize sass variables you can uncomment the following:
// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color: color("blue", "lighten-2");

// import scss files
@import "{poetic:materialize-scss}/sass/materialize.scss";  

main, main section {
  min-width: 100%;
  min-height: 90vh;
  margin-bottom: 0;
}

#home-page {
  color: #FFF; 
  padding: 5px;
  background-color: #FD940A;
  background-image: -webkit-radial-gradient(circle, #f9a72b 0%, #fa9026 70%, #fb6c1f 100%);
  background-image: radial-gradient(circle, #f9a72b 0%, #fa9026 70%, #fb6c1f 100%);
}

#home-page .starter {   
  padding: 5% 7% 5% 7%;
  background: url(/img/bg-footer.svg) center / cover; 
}

footer.page-footer {
  margin-top: 0;
}