//*********************************** 
//       MATERIALIZE THEME             
//***********************************
// If you want to override materialize sass variables you can uncomment the following:
// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color: color("blue", "lighten-2");

// import scss files
@import "{poetic:materialize-scss}/sass/materialize.scss";  


//*********************************** 
//       GLOBAL STYLES             
//***********************************
main, main section {
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  min-height: 90vh;
  margin-bottom: 0;
}
 
footer.page-footer {
  margin-top: 0;
}

//*********************************** 
//       UTILITY STYLES             
//***********************************

@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);

.bg-img {  
  background: url('http://unsplash.it/1200x800') center center no-repeat;
  background-size: cover; 
}
 
.gradient
{ 
  padding: 0px;
  margin: 0px; 
  background-color: #FD940A;
  background-image: -webkit-radial-gradient(circle, #f9a72b 0%, #fa9026 70%, #fb6c1f 100%);
  background-image: radial-gradient(circle, #f9a72b 0%, #fa9026 70%, #fb6c1f 100%);
}

.particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
