<template name="question">
    <div class="row question">

        <div class="col s12 m3 {{leftRight type}}">
            <div class="row">
                <div class="col s6 m12 type{{evenSuffix type}}">{{type}}</div>
                <div class="col m12 divider hide-on-small-and-down"></div>
                <div class="col s6 m12 title{{evenSuffix type}}">{{title}}</div>
            </div>
        </div>

        <div class="col s12 m9">
            <ul class="row collection with-header z-depth-1 hoverable">
                <li class="collection-header light lighten-4 {{headColor type}}">{{desc}}</li>
                {{#each opt in options}}
                <li class="collection-item option">
                    <input name="{{getName}}" type="radio" id="{{getId @index}}"
                           value="{{@index}}" {{getChecked @index}}/>
                    <label for="{{getId @index}}" class="black-text">
                        <b>{{opt.title}}&nbsp;&nbsp;</b> {{opt.desc}}
                    </label>
                </li>
                {{/each}}
            </ul>
        </div>

    </div>
</template>