#print-viewer {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    max-width: 800px;
    font-family: serif;
    .top-bar {
        text-align: center;
        margin: 5px 0 0 0;
        font-family: 'Raleway', sans-serif;
        border-bottom: 1px solid #ccc;
        .header {
            margin: 0;
            padding: 10px 0 0 0;
        }
        .subheader { 
            font-size: 0.9em;
        }
    }
    .middle-bar {
        margin: 0;
        padding: 5px 10px;
    }
    table {
        background: #fff; 
        td {
            padding: 5px;
            border: 1px solid #ccc;
        }
        .first {
            font-weight: 600;
            text-align: right;
            width: 30%;
        }
        .last {
            font-family: monospace;
            text-align: center;
        }
        .message { 
            font-size: 1.1em;
            color: #033;
        }
    }
    .bottom-bar {
        text-align: right;
        font-size: 0.9em;
        font-family: monospace;
        margin: 0 0 5px 0;
        padding: 5px;
        border-top: 1px solid #ccc;
    }
}