<template name="feedback">
	<div id="feeback-modal" class="modal bottom-sheet">
		<div class="modal-content">
			<h4>Your feedback is muchly appreciated!</h4>
			<div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Write your feedback here</label>
        </div>
      </div>
		</div>

		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
				Submit Feedback
			</a>
		</div>
	</div>
</template>