#starter-card {
    position: absolute;
    padding: 40px 60px;
    left: 5px;
    right: 5px;
    top: 20%; 
    background: url(/img/bg-footer.svg) center / cover;

    .title-text {
        font-size: 2em;
    }

    @media (min-width: 600px) {
        left: 10%;
        right: 10%;
        top: 25%;

        .title-text {
            font-size: 3em;
        }
    }

    @media (min-width: 960px) {
        left: 20%;
        right: 20%;
        
        .title-text {
            font-size: 4em;
        }
    }
}