
.starter {   
  position: absolute;
  padding: 40px 60px;
  left: 5px;
  right: 5px;
  top: 20%;
  font-family: "Raleway" sans-serif;
  background: url(/img/bg-footer.svg) center / cover; 

  .title-text {
    font-size: 2em;
  }  
}
@media (min-width: 600px) {
  .starter {   
    left: 10%;
    right: 10%;
    top: 25%;

    .title-text {
      font-size: 3em;
    } 
  }
}
@media (min-width: 960px) {
  .starter {    
    left: 20%;
    right: 20%; 
    
    .title-text {
      font-size: 4em;
    } 
  }
}
