<template name="footer"> 
    <footer  class="page-footer teal darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Adaptive Depression Test</h5>
                    <p class="grey-text text-lighten-4">
                        This is a prototype version of the original project.                        
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Authors</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/dipu-bd">Sudipto Chandra</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/nowshad-sust">Al-Amin Nowshad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text 
                <a class="grey-text text-lighten-4 right" href="https://github.com/dipu-bd/depression-detection-system">
                    <i class="fa fa-github"></i> Github Source
                </a>
            </div>
        </div>
    </footer>
</template>