<template name="stats_modal">

  {{#afModal classes="btn" schema=Stats.schema operation="insert" 
    title="Begin your test now" 
    buttonClasses="btn-large orange waves-effect waves-light" 
    buttonContent="Begin Test" }}
    <div class="modal-content">
        <fieldset>
            <legend>Personal Information</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name='email'}} 
            {{> afQuickField name='dob'}} 
            {{> afFieldInput name='gender'}}
        </fieldset> 
        <button class="waves-effect waves-green btn-flat">Go</button>
    </div>
  {{/afModal}}  

</template>